.product__rating {
  display: flex;
}

.product__price {
  margin-top: 5px;
  font-size: 20px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  z-index: 1;
}

.product-name{
 width: 100%;
 text-align: center;
}

.counter {
  margin: 4vh 0;
}

.counter1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin:-26px;
  margin-left:29px
}

.social-sharing{
  display: flex;
  justify-content: flex-end;
}

@media (max-width:768px) {
  .social-sharing{
    width: 100%;


  }
  .facebook{
    width: 33%;
  }
  .facebook img{
    width: 50%;
    margin: 0 20px;
  }
}

.facebook img{
  width: 3vw;
  margin: 2vh 1vh;
  cursor: pointer;
}


.cartbtn{
  flex-direction: column;
  width: 100%;

}

.cartbtn button{
  margin: 3vh;
  padding: 2vh;
  background-color: transparent;
font-size: 22px;
text-transform: uppercase;
border:1px solid  #7F5BE4;
}



.buyitnowbtn{
  background-color: #7F5BE4 !important ;
margin-bottom: 1vh !important;
}

.addtocartbtn:hover{
    background-color: #7F5BE4 !important;
}